<p id="notice"><%= notice %></p>

<h1>Chatrooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chatrooms.each do |chatroom| %>
      <tr>
        <td><%= chatroom.name %></td>
        <!-- td><%= link_to 'Edit', edit_chatroom_path(chatroom) %></td -->
        <!-- td><%= link_to 'Destroy', chatroom, method: :delete, data: { confirm: 'Are you sure?' } %></td -->
        <td>
            <%= form_tag "/join/confirm/" + chatroom.id.to_s, :method => 'put' do %>
                <%= submit_tag "参加", :name => "Join" %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatroom', new_chatroom_path %>
