<p id="notice"><%= notice %></p>

<h1><%= @chatroom.name %></h1>

<table>
  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.content %></td>
        <td><%= chat.chat_at.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_tag '#', id: 'message' do %>
        <%= hidden_field_tag 'room', session[:chatroom_id] %>
つぶやく <%= text_field_tag 'body', "", :size => "70" %>
<% end %>
<hr>
<%= form_tag "/chatrooms/make_subchatroom/"
            + session[:chatroom_id].to_s, :method => 'put' do %>
    <%= submit_tag "サブチャットルーム作成", :name => "sub" %>
<% end %>
