<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @chat.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @chat.user_id %>
</p>

<p>
  <strong>Chatroom:</strong>
  <%= @chat.chatroom_id %>
</p>

<p>
  <strong>Chat at:</strong>
  <%= @chat.chat_at %>
</p>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
